In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import plotly.express as ps

In [2]:
url = "https://www.alessandrobramucci.com/gapminder.csv"

df = pd.read_csv(url)

df.to_csv("gapminder.csv", sep = ";", decimal = ".")

In [3]:
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [4]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [5]:
df.isna().sum()

country      0
continent    0
year         0
lifeExp      0
pop          0
gdpPercap    0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [7]:
df.shape

(1704, 6)

In [8]:
#Liste der Länder 
country_list = df['country'].unique()
country_list

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [9]:
#Wie viele Länder?
country_count = df['country'].nunique()
country_count

142

In [10]:
years_count = df.groupby('country')['year'].count()
years_count

country
Afghanistan           12
Albania               12
Algeria               12
Angola                12
Argentina             12
                      ..
Vietnam               12
West Bank and Gaza    12
Yemen, Rep.           12
Zambia                12
Zimbabwe              12
Name: year, Length: 142, dtype: int64

In [11]:
sum(years_count == 12)

142

In [12]:
countries_bycont_count2007 = df[df.year == 2007].groupby(['continent', 'year'])['country'].count()
countries_bycont_count2007

continent  year
Africa     2007    52
Americas   2007    25
Asia       2007    33
Europe     2007    30
Oceania    2007     2
Name: country, dtype: int64

In [13]:
df_germany = df[df.country == "Germany"].select_dtypes(include='number')

df_germany.to_csv("germany_gapminder.csv", 
                  sep = ",", 
                  decimal = ".", 
                  index = False)

In [14]:
df.groupby('country')[['lifeExp', 'pop', 'gdpPercap']].mean()

                      lifeExp           pop    gdpPercap
country
Afghanistan         37.478833  1.582372e+07   802.674598
Albania             68.432917  2.580249e+06  3255.366633
Algeria             59.030167  1.987541e+07  4426.025973
Angola              37.883500  7.309390e+06  3607.100529
Argentina           69.060417  2.860224e+07  8955.553783
...                       ...           ...          ...
Vietnam             57.479500  5.456857e+07  1017.712615
West Bank and Gaza  60.328667  1.848606e+06  3759.996781
Yemen, Rep.         46.780417  1.084319e+07  1569.274672
Zambia              45.996333  6.353805e+06  1358.199409
Zimbabwe            52.663167  7.641966e+06   635.858042

[142 rows x 3 columns]

In [15]:
df_mean = df.groupby('continent')[['lifeExp', 'pop', 'gdpPercap']].mean()
df_mean['Variable'] = "Mean"
df_median = df.groupby('continent')[['lifeExp', 'pop', 'gdpPercap']].median()
df_median['Variable'] = "Median"
df_min = df.groupby('continent')[['lifeExp', 'pop', 'gdpPercap']].min()
df_min['Variable'] = "Min"
df_max = df.groupby('continent')[['lifeExp', 'pop', 'gdpPercap']].max()
df_max['Variable'] = "Max"

In [16]:
df_summary = pd.concat([df_mean, df_median, df_min, df_max], axis=0).sort_index().reset_index()

In [17]:
df_summary

   continent    lifeExp           pop      gdpPercap Variable
0     Africa  48.865330  9.916003e+06    2193.754578     Mean
1     Africa  47.792000  4.579311e+06    1192.138217   Median
2     Africa  23.599000  6.001100e+04     241.165876      Min
3     Africa  76.442000  1.350312e+08   21951.211760      Max
4   Americas  64.658737  2.450479e+07    7136.110356     Mean
5   Americas  67.048000  6.227510e+06    5465.509853   Median
6   Americas  37.579000  6.628500e+05    1201.637154      Min
7   Americas  80.653000  3.011399e+08   42951.653090      Max
8       Asia  60.064903  7.703872e+07    7902.150428     Mean
9       Asia  82.603000  1.318683e+09  113523.132900      Max
10      Asia  61.791500  1.453083e+07    2646.786844   Median
11      Asia  28.801000  1.204470e+05     331.000000      Min
12    Europe  71.903686  1.716976e+07   14469.475533     Mean
13    Europe  72.241000  8.551125e+06   12081.749115   Median
14    Europe  81.757000  8.240100e+07   49357.190170      Max
15    Europe  43.585000  1.479620e+05     973.533195      Min
16   Oceania  73.665000  6.403492e+06   17983.303955   Median
17   Oceania  74.326208  8.874672e+06   18621.609223     Mean
18   Oceania  69.120000  1.994794e+06   10039.595640      Min
19   Oceania  81.235000  2.043418e+07   34435.367440      Max

In [18]:
df_p1 = pd.DataFrame({
    'Minimum': df.groupby('year')['lifeExp'].min(),
    'Maximum': df.groupby('year')['lifeExp'].max(),
    'Median': df.groupby('year')['lifeExp'].median()
}).reset_index()

In [19]:
df_p1

    year  Minimum  Maximum   Median
0   1952   28.801   72.670  45.1355
1   1957   30.332   73.470  48.3605
2   1962   31.997   73.680  50.8810
3   1967   34.020   74.160  53.8250
4   1972   35.400   74.720  56.5300
5   1977   31.220   76.110  59.6720
6   1982   38.445   77.110  62.4415
7   1987   39.906   78.670  65.8340
8   1992   23.599   79.360  67.7030
9   1997   36.087   80.690  69.3940
10  2002   39.193   82.000  70.8255
11  2007   39.613   82.603  71.9355

In [20]:
df_p2 = df[df.country == "China"][['year', 'lifeExp']].rename(
    columns = {'lifeExp': 'China'})

In [21]:
df_p2

     year     China
288  1952  44.00000
289  1957  50.54896
290  1962  44.50136
291  1967  58.38112
292  1972  63.11888
293  1977  63.96736
294  1982  65.52500
295  1987  67.27400
296  1992  68.69000
297  1997  70.42600
298  2002  72.02800
299  2007  72.96100

In [22]:
df_graph = df_p1.merge(df_p2, how = 'inner', on = 'year')

In [23]:
df_graph_long = pd.melt(
    df_graph,
    id_vars = 'year',
    var_name = 'variable',
    value_name = 'value'
)

In [24]:
px.line(df_graph_long,
        x = 'year', 
        y = 'value', 
        color = "variable")

NameError: name 'px' is not defined